<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Ristorante Il Gambero Rosso</h1>
    <p class="lead">Delivering great food for more than 18 years!</p>
    <a class="btn btn-primary btn-lg" routerLink="/menu" role="button"
      >Our Menu</a
    >
    <a class="btn btn-success btn-lg" href="#" role="button">Book a Table</a>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Welcome to Our Restaurant</h2>
  <p class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec odio sed
    turpis bibendum consectetur. Suspendisse eget turpis a orci viverra aliquet.
  </p>
  <div class="row">
    <div class="col-md-6">
      <img
        src="assets/restaurant.jpg"
        alt="Restaurant Image"
        class="img-fluid rounded"
      />
    </div>
    <div class="col-md-6">
      <h3>About Our Story</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum
        nibh ac quam tincidunt, id hendrerit tortor vestibulum. Praesent
        ultricies nunc nec urna lacinia, sit amet bibendum orci sodales.
      </p>
    </div>
  </div>
</div>
